#homeHeader
{
  text-align: center;
}

#loginForm
{
  width: 30%;
  margin: 0px auto;
}

#createBlogForm
{
  width: 30%;
  margin: 0px auto;
}

#formHeader
{
  text-align: center;
}

.modal-body #adContent
{
  word-wrap: break-word;
}

.advertHeader
{
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
}

.thumbnail > img
{
  width: 70%;
}
